USE [master]
GO
/****** Object:  Database [IKU]    Script Date: 9/13/2018 7:01:01 AM ******/
CREATE DATABASE [IKU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IKU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IKU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IKU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IKU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IKU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IKU]
GO
USE [IKU]
GO
/****** Object:  Table [dbo].[MST_IKU]    Script Date: 9/13/2018 7:01:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_IKU](
	[KODE_IKU] [nvarchar](10) NULL,
	[DESKRIPSI] [nvarchar](100) NULL,
	[TIPE_IKU] [nvarchar](15) NULL,
	[USER_CREATED] [nvarchar](50) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](50) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_INDICATOR_QN]    Script Date: 9/13/2018 7:01:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_INDICATOR_QN](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_INDICATOR] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[KODE_INDIKATOR] [nvarchar](20) NULL,
	[THRESHOLD] [numeric](3, 0) NULL,
	[INDIKATOR_1_DESC] [nvarchar](500) NULL,
	[INDIKATOR_2_DESC] [nvarchar](500) NULL,
	[INDIKATOR_3_DESC] [nvarchar](500) NULL,
	[REALISASI_1_DESC] [nvarchar](500) NULL,
	[REALISASI_2_DESC] [nvarchar](500) NULL,
	[REALISASI_3_DESC] [nvarchar](500) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL,
	[REMARK] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_INDICATOR_QN_DTL]    Script Date: 9/13/2018 7:01:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_INDICATOR_QN_DTL](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_INDICATOR] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[KODE_BANK] [nvarchar](10) NULL,
	[NILAI_INDICATOR_1] [numeric](15, 2) NULL,
	[NILAI_INDICATOR_2] [numeric](15, 2) NULL,
	[NILAI_INDICATOR_3] [numeric](15, 2) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_REALIZATION_QL]    Script Date: 9/13/2018 7:01:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_REALIZATION_QL](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_REALISASI] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[KODE_BANK] [nvarchar](10) NULL,
	[NO_URUT] [numeric](3, 0) NULL,
	[STATUS] [nvarchar](10) NULL,
	[KETERANGAN] [nvarchar](max) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_REALIZATION_QN_DTL]    Script Date: 9/13/2018 7:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_REALIZATION_QN_DTL](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_REALISASI] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[KODE_BANK] [nvarchar](10) NULL,
	[NILAI_REALISASI_1] [numeric](15, 2) NULL,
	[NILAI_REALISASI_2] [numeric](15, 2) NULL,
	[NILAI_REALISASI_3] [numeric](15, 2) NULL,
	[PENCAPAIAN] [numeric](1, 0) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL,
	[REMARK] [varchar](50) NULL,
	[TARGET] [numeric](3, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[IKUREPORT]    Script Date: 9/13/2018 7:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[IKUREPORT] as
SELECT        f.KODE_IKU, G.DESKRIPSI AS NAMA_IKU, f.TAHUN_REALISASI, f.PERIODE, f.NILAI_REALISASI, f.INDICATOR, f.REALISASI, f.TARGET, 
                         CASE WHEN PENCAPAIAN > 110 THEN 110 ELSE PENCAPAIAN END AS PENCAPAIAN
FROM            (SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, NILAI_REALISASI, INDICATOR, CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100 AS REALISASI, TARGET, 
                                                    CASE target WHEN 0 THEN 0 ELSE (CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100) / TARGET * 100 END AS PENCAPAIAN
                          FROM            (SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, SUM(NILAI_REALISASI_1) AS NILAI_REALISASI, CAST
                                                                                  ((SELECT        SUM(NILAI_INDICATOR_1) AS Expr1
                                                                                      FROM            dbo.TRN_INDICATOR_QN_DTL AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS INDICATOR, CAST
                                                                                  ((SELECT        TOP (1) THRESHOLD
                                                                                      FROM            dbo.TRN_INDICATOR_QN AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS TARGET
                                                    FROM            dbo.TRN_REALIZATION_QN_DTL AS A WHERE KODE_BANK<>'000' and a.KODE_IKU<>'IKU 4.1.a' and a.KODE_IKU<>'IKU 2.1.a'
                                                    GROUP BY KODE_IKU, TAHUN_REALISASI, PERIODE) AS B_1
                          UNION
                          SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, NILAI_REALISASI, INDICATOR, CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100 AS REALISASI, TARGET, 
                                                   CASE target WHEN 0 THEN 0 ELSE (CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100) / TARGET * 100 END AS PENCAPAIAN
                          FROM            (SELECT DISTINCT KODE_IKU, TAHUN_REALISASI, PERIODE, CAST
                                                                                  ((SELECT        COUNT(0) AS Expr1
                                                                                      FROM            dbo.TRN_REALIZATION_QL AS B
                                                                                      WHERE        (STATUS = 'Selesai') AND (A.KODE_IKU = KODE_IKU) AND (A.TAHUN_REALISASI = TAHUN_REALISASI) AND (A.PERIODE = PERIODE)) AS FLOAT) AS NILAI_REALISASI, 
                                                                              CAST
                                                                                  ((SELECT        COUNT(0) AS Expr1
                                                                                      FROM            dbo.TRN_REALIZATION_QL AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.TAHUN_REALISASI = TAHUN_REALISASI) AND (A.PERIODE = PERIODE)) AS FLOAT) AS INDICATOR, 100 AS TARGET
                                                    FROM            dbo.TRN_REALIZATION_QL AS A
													) AS C
													UNION
													SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, NILAI_REALISASI, INDICATOR, CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100 AS REALISASI, TARGET, 
                                                    CASE target WHEN 0 THEN 0 ELSE (CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100) / TARGET * 100 END AS PENCAPAIAN
                          FROM            (SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, SUM(NILAI_REALISASI_1) AS NILAI_REALISASI, 100 AS INDICATOR, CAST
                                                                                  ((SELECT        TOP (1) THRESHOLD
                                                                                      FROM            dbo.TRN_INDICATOR_QN AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS TARGET
                                                    FROM            dbo.TRN_REALIZATION_QN_DTL AS A WHERE KODE_BANK='000'
                                                    GROUP BY KODE_IKU, TAHUN_REALISASI, PERIODE
													) AS B_1
													union
													SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, NILAI_REALISASI, INDICATOR, CASE indicator WHEN 0 THEN 0 ELSE cast(NILAI_REALISASI AS decimal(6,4)) / INDICATOR END * 100 AS REALISASI, TARGET, 
                                                    CASE target WHEN 0 THEN 0 ELSE (CASE indicator WHEN 0 THEN 0 ELSE cast(NILAI_REALISASI AS decimal(6,4)) / INDICATOR END * 100) / TARGET * 100 END AS PENCAPAIAN FROM
(select a.KODE_IKU,a.TAHUN_INDICATOR as TAHUN_REALISASI,A.PERIODE,(SELECT COUNT(0) FROM TRN_REALIZATION_QN_DTL C WHERE A.KODE_IKU=C.KODE_IKU AND PENCAPAIAN=1)AS NILAI_REALISASI,
(SELECT COUNT(0) FROM TRN_REALIZATION_QN_DTL C WHERE A.KODE_IKU=C.KODE_IKU )AS INDICATOR,THRESHOLD AS TARGET
from TRN_INDICATOR_QN a inner join mst_iku b on a.kode_iku=b.kode_iku
where a.kode_iku='IKU 4.1.a')B
union
SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, NILAI_REALISASI, INDICATOR, CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100 AS REALISASI, TARGET, CASE WHEN NILAI_REALISASI2*100/INDICATOR2-100>9 THEN 110 ELSE
                                                    CASE target WHEN 0 THEN 0 ELSE (CASE indicator WHEN 0 THEN 0 ELSE NILAI_REALISASI / INDICATOR END * 100) / TARGET * 100 END END AS PENCAPAIAN
                          FROM            (SELECT        KODE_IKU, TAHUN_REALISASI, PERIODE, SUM(NILAI_REALISASI_2) AS NILAI_REALISASI2, CAST
                                                                                  ((SELECT        SUM(NILAI_INDICATOR_2) AS Expr1
                                                                                      FROM            dbo.TRN_INDICATOR_QN_DTL AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS INDICATOR2, 9 AS MAXNUM,
																					  SUM(NILAI_REALISASI_1) AS NILAI_REALISASI, CAST
                                                                                  ((SELECT        SUM(NILAI_INDICATOR_1) AS Expr1
                                                                                      FROM            dbo.TRN_INDICATOR_QN_DTL AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS INDICATOR, CAST
                                                                                  ((SELECT        TOP (1) THRESHOLD
                                                                                      FROM            dbo.TRN_INDICATOR_QN AS B
                                                                                      WHERE        (A.KODE_IKU = KODE_IKU) AND (A.PERIODE = PERIODE) AND (A.TAHUN_REALISASI = TAHUN_INDICATOR)) AS FLOAT) AS TARGET
                                                    FROM            dbo.TRN_REALIZATION_QN_DTL AS A WHERE KODE_BANK<>'000' and a.KODE_IKU='IKU 2.1.a'
                                                    GROUP BY KODE_IKU, TAHUN_REALISASI, PERIODE) AS B_1
													) AS f INNER JOIN
                         dbo.MST_IKU AS G ON f.KODE_IKU = G.KODE_IKU
						 
						 
GO
/****** Object:  Table [dbo].[M_BARANG]    Script Date: 9/13/2018 7:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_BARANG](
	[KD_BARANG] [varchar](10) NOT NULL,
	[NM_BARANG] [varchar](40) NULL,
	[FLAG_ACTIVE] [varchar](1) NULL,
	[USER_UPDATE] [varchar](10) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [M_BARANG_PK] PRIMARY KEY CLUSTERED 
(
	[KD_BARANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_MERK]    Script Date: 9/13/2018 7:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_MERK](
	[KD_MERK] [varchar](10) NOT NULL,
	[NM_MERK] [varchar](40) NULL,
	[FLAG_ACTIVE] [varchar](1) NULL,
	[USER_UPDATE] [varchar](10) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [M_MERK_PK] PRIMARY KEY CLUSTERED 
(
	[KD_MERK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_USER]    Script Date: 9/13/2018 7:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER](
	[ID_USER] [nvarchar](20) NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](30) NULL,
	[TEAM] [nvarchar](10) NULL,
	[JABATAN] [nvarchar](20) NULL,
	[USER_CREATED] [nvarchar](50) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](50) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ASSIGNMENT]    Script Date: 9/13/2018 7:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ASSIGNMENT](
	[KD_ASSIGN] [varchar](15) NOT NULL,
	[KD_BARANG] [varchar](10) NULL,
	[KD_MERK] [varchar](10) NULL,
	[SERIAL_NUMBER] [varchar](10) NULL,
	[QTY] [numeric](18, 0) NULL,
	[STATUS] [varchar](10) NULL,
	[TEAM_ID] [varchar](10) NULL,
	[USER_ID] [varchar](10) NULL,
	[DEPARTMENT] [varchar](10) NULL,
	[TANGGAL_ASSIGN] [datetime] NULL,
	[DATE_ASSIGN] [datetime] NULL,
	[USER_TRANSACTION] [varchar](10) NULL,
	[DATE_TIME_TRANSACTION] [datetime] NULL,
 CONSTRAINT [T_ASSIGN_PK] PRIMARY KEY CLUSTERED 
(
	[KD_ASSIGN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MONI_REPORT_ASSIGN]    Script Date: 9/13/2018 7:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MONI_REPORT_ASSIGN] AS
SELECT TOP (1000) [KD_ASSIGN]
      ,A.[KD_BARANG]
	  ,B.NM_BARANG
      ,A.[KD_MERK]
	  ,C.NM_MERK
      ,[SERIAL_NUMBER]
      ,[QTY]
      ,[STATUS]
      ,[TEAM_ID]
      ,[USER_ID]
	  ,D.USER_NAME
      ,[DEPARTMENT]
      ,[TANGGAL_ASSIGN]
      ,[DATE_ASSIGN]
      ,[USER_TRANSACTION]
      ,[DATE_TIME_TRANSACTION]
  FROM [IKU].[dbo].[T_ASSIGNMENT] A INNER JOIN M_BARANG B ON B.KD_BARANG=A.KD_BARANG 
  INNER JOIN  M_MERK C ON A.KD_MERK=C.KD_MERK
  INNER JOIN MST_USER D ON A.USER_ID=D.ID_USER
GO
/****** Object:  Table [dbo].[T_BELI_BARANG]    Script Date: 9/13/2018 7:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BELI_BARANG](
	[KD_BELI] [varchar](15) NOT NULL,
	[KD_BARANG] [varchar](10) NULL,
	[KD_MERK] [varchar](10) NULL,
	[SERIAL_NUMBER] [varchar](10) NULL,
	[QTY_BELI] [numeric](18, 0) NULL,
	[UOM] [varchar](10) NULL,
	[STATUS] [varchar](10) NULL,
	[TANGGAL_BELI] [datetime] NULL,
	[HARGA_UNIT] [numeric](18, 0) NULL,
	[USER_TRANSACTION] [varchar](10) NULL,
	[DATE_TIME_TRANSACTION] [datetime] NULL,
 CONSTRAINT [T_BELI_BARANG_PK] PRIMARY KEY CLUSTERED 
(
	[KD_BELI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MONI_REPORT_BELI]    Script Date: 9/13/2018 7:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MONI_REPORT_BELI]
AS
SELECT [KD_BELI]
      ,A.[KD_BARANG]
	  ,B.NM_BARANG
      ,A.[KD_MERK]
	  ,C.NM_MERK
      ,[SERIAL_NUMBER]
      ,[QTY_BELI]
      ,[UOM]
      ,[STATUS]
      ,[TANGGAL_BELI]
      ,[HARGA_UNIT]
      ,[USER_TRANSACTION]
      ,[DATE_TIME_TRANSACTION]
  FROM [IKU].[dbo].[T_BELI_BARANG] A INNER JOIN M_BARANG B ON B.KD_BARANG=A.KD_BARANG 
  INNER JOIN  M_MERK C ON A.KD_MERK=C.KD_MERK
GO
/****** Object:  Table [dbo].[T_ORDER_DT]    Script Date: 9/13/2018 7:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ORDER_DT](
	[KD_ORDER] [varchar](15) NOT NULL,
	[NO_SR] [numeric](18, 0) NOT NULL,
	[KD_BARANG] [varchar](10) NULL,
	[KD_MERK] [varchar](10) NULL,
	[SERIAL_NUMBER] [varchar](10) NULL,
	[QTY] [numeric](18, 0) NULL,
	[STATUS] [varchar](10) NULL,
	[USER_TRANSACTION] [varchar](10) NULL,
	[DATE_TIME_TRANSACTION] [datetime] NULL,
 CONSTRAINT [T_ORDER_DT_PK] PRIMARY KEY CLUSTERED 
(
	[KD_ORDER] ASC,
	[NO_SR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[REPORT_MONI_DT]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[REPORT_MONI_DT] AS
SELECT  [KD_ORDER]
      ,[NO_SR]
      ,A.[KD_BARANG]
	  ,B.NM_BARANG
      ,A.[KD_MERK]
	  ,C.NM_MERK
      ,[SERIAL_NUMBER]
      ,[QTY]
      ,[STATUS]
      ,[USER_TRANSACTION]
      ,[DATE_TIME_TRANSACTION]
  FROM [IKU].[dbo].[T_ORDER_DT] A INNER JOIN M_BARANG B ON B.KD_BARANG=A.KD_BARANG 
  INNER JOIN  M_MERK C ON A.KD_MERK=C.KD_MERK
GO
/****** Object:  Table [dbo].[T_ORDER_HD]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ORDER_HD](
	[KD_ORDER] [varchar](15) NOT NULL,
	[TEAM_ID] [varchar](10) NULL,
	[USER_ID] [varchar](10) NULL,
	[DEPARTMENT] [varchar](10) NULL,
	[DATE_ORDER] [datetime] NULL,
	[STATUS_ORDER] [varchar](10) NULL,
	[USER_TRANSACTION] [varchar](10) NULL,
	[DATE_TIME_TRANSACTION] [datetime] NULL,
 CONSTRAINT [T_ORDER_PK] PRIMARY KEY CLUSTERED 
(
	[KD_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[REPORT_MONI_HD]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[REPORT_MONI_HD]
AS
SELECT a.[KD_ORDER]
      ,[TEAM_ID]
      ,[USER_ID]
	  ,B.USER_NAME
      ,[DEPARTMENT]
      ,[DATE_ORDER]
      ,[STATUS_ORDER]
      ,[USER_TRANSACTION]
      ,[DATE_TIME_TRANSACTION] 
  FROM [IKU].[dbo].[T_ORDER_HD] A INNER JOIN MST_USER B ON A.USER_ID=B.ID_USER
GO
/****** Object:  Table [dbo].[LOGIN_IKU]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_IKU](
	[ID] [int] NULL,
	[USERNAME] [nvarchar](max) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_LOG]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](max) NOT NULL,
	[DATETIME_LOGIN] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_BANK]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BANK](
	[ID_BANK] [nvarchar](50) NULL,
	[INISIAL] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[FLAG_ACTIVE] [nvarchar](50) NULL,
	[USER_CREATED] [nvarchar](50) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](50) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_DOCUMENT]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DOCUMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC_NAME] [varchar](50) NOT NULL,
	[FLAG] [varchar](1) NOT NULL,
	[USER_CREATED] [varchar](50) NOT NULL,
	[DATETIME_CREATED] [datetime] NOT NULL,
	[USER_UPDATED] [varchar](50) NOT NULL,
	[DATETIME_UPDATED] [datetime] NOT NULL,
 CONSTRAINT [PK__MST_DOCU__3214EC2794070DB0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_USER_BANK]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER_BANK](
	[ID_BANK] [nvarchar](10) NULL,
	[ID_USER] [nvarchar](20) NULL,
	[FLAG_ACTIVE] [nvarchar](1) NULL,
	[USER_CREATED] [nvarchar](50) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](50) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_BARANG]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_BARANG](
	[KD_BARANG] [varchar](10) NOT NULL,
	[KD_MERK] [varchar](10) NULL,
	[QTY] [numeric](18, 0) NULL,
	[FLAG_ACTIVE] [varchar](1) NULL,
	[USER_UPDATE] [varchar](10) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [STOCK_BARANG_PK] PRIMARY KEY CLUSTERED 
(
	[KD_BARANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_IKU_DT]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_IKU_DT](
	[YEAR] [nvarchar](4) NOT NULL,
	[NO_IKU] [varchar](2) NOT NULL,
	[BANK] [numeric](3, 0) NOT NULL,
	[TW1] [numeric](18, 3) NULL,
	[TW2] [numeric](18, 3) NULL,
	[TW3] [numeric](18, 3) NULL,
	[TW4] [numeric](18, 3) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_TRN_IKU_DT] PRIMARY KEY CLUSTERED 
(
	[YEAR] ASC,
	[BANK] ASC,
	[NO_IKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_IKU_HD]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_IKU_HD](
	[YEAR] [nvarchar](4) NULL,
	[NO_IKU] [varchar](2) NULL,
	[INPUT] [numeric](1, 0) NULL,
	[REV] [numeric](1, 0) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_IKU_HD_TARGET]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_IKU_HD_TARGET](
	[YEAR] [nvarchar](4) NULL,
	[IKU_TYPE] [varchar](2) NULL,
	[PERCENTAGE] [numeric](7, 3) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_IKU_QUAL]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_IKU_QUAL](
	[YEAR] [nvarchar](4) NOT NULL,
	[NO_IKU] [varchar](2) NOT NULL,
	[BANK] [numeric](3, 0) NOT NULL,
	[PROBLEM] [varchar](4000) NULL,
	[SOLUTION] [varchar](4000) NULL,
	[DESCRIPTION] [varchar](4000) NULL,
	[STATUS] [nvarchar](1) NULL,
	[TARGET] [date] NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_TRN_IKU_QUAL] PRIMARY KEY CLUSTERED 
(
	[BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_INDICATOR_QL]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_INDICATOR_QL](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_INDICATOR] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[NO_DETAIL] [numeric](3, 0) NULL,
	[TIPE_DATA] [nvarchar](20) NULL,
	[DESKRIPSI] [nvarchar](50) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_MONA]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_MONA](
	[ID_BANK] [varchar](10) NOT NULL,
	[YEAR] [numeric](4, 0) NOT NULL,
	[TIPE_DOKUMEN] [varchar](20) NOT NULL,
	[KETERANGAN] [varchar](200) NULL,
	[START_DATE] [datetime] NULL,
	[TARGET_DATE] [datetime] NULL,
	[REALIZATION_DATE] [datetime] NULL,
	[USER_CREATED] [varchar](20) NULL,
	[DATE_CREATED] [datetime] NULL,
	[USER_UPDATED] [varchar](20) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_TRN_MONA] PRIMARY KEY CLUSTERED 
(
	[YEAR] ASC,
	[TIPE_DOKUMEN] ASC,
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_MONA_REALIZATION]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_MONA_REALIZATION](
	[TIPE_DOKUMEN] [varchar](20) NULL,
	[YEAR] [int] NULL,
	[ID_BANK] [varchar](20) NULL,
	[KETERANGAN] [varchar](200) NULL,
	[REALIZATION_DATE] [datetime] NULL,
	[USER_REALIZATION] [varchar](20) NULL,
	[USER_UPDATED] [varchar](20) NULL,
	[DATE_UPDATED] [datetime] NULL,
	[UPDATEBY_USER] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_REALISASI_IKU]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_REALISASI_IKU](
	[YEAR] [nvarchar](4) NOT NULL,
	[NO_IKU] [varchar](2) NOT NULL,
	[BANK] [numeric](3, 0) NOT NULL,
	[TW1] [numeric](18, 3) NULL,
	[TW2] [numeric](18, 3) NULL,
	[TW3] [numeric](18, 3) NULL,
	[TW4] [numeric](18, 3) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_REALISASI_IKU] PRIMARY KEY CLUSTERED 
(
	[YEAR] ASC,
	[BANK] ASC,
	[NO_IKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_REALIZATION_QL_DTL]    Script Date: 9/13/2018 7:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_REALIZATION_QL_DTL](
	[KODE_IKU] [nvarchar](10) NULL,
	[TAHUN_REALISASI] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](5) NULL,
	[KODE_BANK] [nvarchar](10) NULL,
	[NO_URUT] [numeric](3, 0) NULL,
	[NO_DETAIL] [numeric](3, 0) NULL,
	[TIPE_DATA] [nvarchar](20) NULL,
	[JUDUL] [nvarchar](50) NULL,
	[DESKRIPSI] [nvarchar](max) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_REALIZATION_QN]    Script Date: 9/13/2018 7:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_REALIZATION_QN](
	[KODE_IKU] [nvarchar](50) NULL,
	[TAHUN_REALISASI] [numeric](4, 0) NULL,
	[PERIODE] [nvarchar](50) NULL,
	[KODE_INDIKATOR] [nvarchar](20) NULL,
	[PENCAPAIAN] [nvarchar](1) NULL,
	[USER_CREATED] [nvarchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATED] [nvarchar](20) NULL,
	[DATETIME_UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOGIN_LOG] ON 

INSERT [dbo].[LOGIN_LOG] ([ID], [USERNAME], [DATETIME_LOGIN]) VALUES (1, N'admin', CAST(N'2018-06-27T14:52:28.000' AS DateTime))
INSERT [dbo].[LOGIN_LOG] ([ID], [USERNAME], [DATETIME_LOGIN]) VALUES (3, N'admin', CAST(N'2018-06-27T22:09:46.000' AS DateTime))
INSERT [dbo].[LOGIN_LOG] ([ID], [USERNAME], [DATETIME_LOGIN]) VALUES (4, N'admin', CAST(N'2018-06-27T22:35:18.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LOGIN_LOG] OFF
INSERT [dbo].[M_BARANG] ([KD_BARANG], [NM_BARANG], [FLAG_ACTIVE], [USER_UPDATE], [DATETIME_UPDATE]) VALUES (N'BR001', N'BENGBENG', N'Y', N'Admin', CAST(N'2018-09-11T15:43:33.000' AS DateTime))
INSERT [dbo].[M_BARANG] ([KD_BARANG], [NM_BARANG], [FLAG_ACTIVE], [USER_UPDATE], [DATETIME_UPDATE]) VALUES (N'BR002', N'KOMPUTER', N'Y', N'Admin', CAST(N'2018-09-11T15:44:58.000' AS DateTime))
INSERT [dbo].[M_MERK] ([KD_MERK], [NM_MERK], [FLAG_ACTIVE], [USER_UPDATE], [DATETIME_UPDATE]) VALUES (N'MR001', N'DELL', N'Y', N'Admin', CAST(N'2018-09-11T16:11:38.000' AS DateTime))
INSERT [dbo].[M_MERK] ([KD_MERK], [NM_MERK], [FLAG_ACTIVE], [USER_UPDATE], [DATETIME_UPDATE]) VALUES (N'MR002', N'TOSHIBA', N'Y', N'Admin', CAST(N'2018-09-11T16:11:38.000' AS DateTime))
INSERT [dbo].[MST_BANK] ([ID_BANK], [INISIAL], [DESCRIPTION], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'008', N'Mandiri', N'Bank Mandiri', N'Y', N'Admin', CAST(N'2018-05-28T06:26:56.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:26:56.000' AS DateTime))
INSERT [dbo].[MST_BANK] ([ID_BANK], [INISIAL], [DESCRIPTION], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'009', N'BNI', N'Bank Negara Indonesia', N'Y', N'Admin', CAST(N'2018-05-28T06:27:40.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:27:40.000' AS DateTime))
INSERT [dbo].[MST_BANK] ([ID_BANK], [INISIAL], [DESCRIPTION], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'002', N'BRI', N'Bank Rakyat Indonesia', N'Y', N'Admin', CAST(N'2018-05-28T06:28:18.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:28:18.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT] ON 

INSERT [dbo].[MST_DOCUMENT] ([ID], [DOC_NAME], [FLAG], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (1, N'RBB', N'Y', N'admin', CAST(N'2018-06-25T13:31:37.000' AS DateTime), N'admin', CAST(N'2018-06-25T13:31:37.000' AS DateTime))
INSERT [dbo].[MST_DOCUMENT] ([ID], [DOC_NAME], [FLAG], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (2, N'Lain-lain', N'Y', N'Admin', CAST(N'2018-07-29T15:48:20.000' AS DateTime), N'Admin', CAST(N'2018-07-29T15:48:20.000' AS DateTime))
INSERT [dbo].[MST_DOCUMENT] ([ID], [DOC_NAME], [FLAG], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (3, N'Dokumen test 1 ', N'Y', N'Admin', CAST(N'2018-07-29T18:23:30.000' AS DateTime), N'Admin', CAST(N'2018-07-29T18:23:30.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT] OFF
INSERT [dbo].[MST_IKU] ([KODE_IKU], [DESKRIPSI], [TIPE_IKU], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 4.1.b', N'Kredit Perikanan', N'QUANTITATIVE', N'Admin', CAST(N'2018-05-28T06:34:46.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:34:46.000' AS DateTime))
INSERT [dbo].[MST_IKU] ([KODE_IKU], [DESKRIPSI], [TIPE_IKU], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', N'Realisasi Kredit', N'QUANTITATIVE', N'Admin', CAST(N'2018-06-07T09:09:14.000' AS DateTime), N'Admin', CAST(N'2018-06-07T09:09:14.000' AS DateTime))
INSERT [dbo].[MST_IKU] ([KODE_IKU], [DESKRIPSI], [TIPE_IKU], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.b ', N'CAR', N'QUANTITATIVE', N'Admin', CAST(N'2018-06-07T09:09:31.000' AS DateTime), N'Admin', CAST(N'2018-06-07T09:09:31.000' AS DateTime))
INSERT [dbo].[MST_USER] ([ID_USER], [USER_NAME], [PASSWORD], [TEAM], [JABATAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'admin', N'Admin', N'administrator', N'admin', N'admin', N'admin', NULL, NULL, NULL)
INSERT [dbo].[MST_USER] ([ID_USER], [USER_NAME], [PASSWORD], [TEAM], [JABATAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'03234', N'Harry Wijaya', N'123456', N'1.1', N'Pengawas Bank', N'Admin', CAST(N'2018-05-28T06:31:10.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:31:10.000' AS DateTime))
INSERT [dbo].[MST_USER] ([ID_USER], [USER_NAME], [PASSWORD], [TEAM], [JABATAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'02898', N'Ahmad Fuadi', N'123456', N'1.1', N'Pengawas Bank', N'Admin', CAST(N'2018-06-27T13:50:45.000' AS DateTime), N'Admin', CAST(N'2018-06-27T13:50:45.000' AS DateTime))
INSERT [dbo].[MST_USER_BANK] ([ID_BANK], [ID_USER], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'008', N'03234', N'Y', N'Admin', CAST(N'2018-05-28T06:31:35.000' AS DateTime), N'Admin', CAST(N'2018-05-28T06:31:35.000' AS DateTime))
INSERT [dbo].[MST_USER_BANK] ([ID_BANK], [ID_USER], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'426', N'00874', N'Y', N'Admin', CAST(N'2018-07-04T03:21:47.000' AS DateTime), N'Admin', CAST(N'2018-07-04T03:21:47.000' AS DateTime))
INSERT [dbo].[MST_USER_BANK] ([ID_BANK], [ID_USER], [FLAG_ACTIVE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'002', N'00796', N'Y', N'Admin', CAST(N'2018-07-05T06:00:11.000' AS DateTime), N'Admin', CAST(N'2018-07-05T06:00:11.000' AS DateTime))
INSERT [dbo].[T_ASSIGNMENT] ([KD_ASSIGN], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY], [STATUS], [TEAM_ID], [USER_ID], [DEPARTMENT], [TANGGAL_ASSIGN], [DATE_ASSIGN], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'AS001', N'BR001', N'MR001', N'03234', CAST(10 AS Numeric(18, 0)), N'BARU', N'1.1', N'03234', N'IT', CAST(N'2018-09-11T00:00:00.000' AS DateTime), CAST(N'2018-09-11T00:00:00.000' AS DateTime), N'GITA', CAST(N'2018-09-11T00:00:00.000' AS DateTime))
INSERT [dbo].[T_ASSIGNMENT] ([KD_ASSIGN], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY], [STATUS], [TEAM_ID], [USER_ID], [DEPARTMENT], [TANGGAL_ASSIGN], [DATE_ASSIGN], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'AS002', N'BR002', N'MR001', N'1234213', CAST(23211 AS Numeric(18, 0)), N'Baru', N'1.3', N'03217', N'', CAST(N'2018-09-19T17:00:00.000' AS DateTime), CAST(N'2018-09-11T21:07:12.000' AS DateTime), N'Admin', CAST(N'2018-09-11T21:07:12.000' AS DateTime))
INSERT [dbo].[T_BELI_BARANG] ([KD_BELI], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY_BELI], [UOM], [STATUS], [TANGGAL_BELI], [HARGA_UNIT], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'KD001', N'BR001', N'MR001', N'1234', CAST(10 AS Numeric(18, 0)), N'PIECES', N'BARU', CAST(N'2018-11-09T00:00:00.000' AS DateTime), CAST(1000000 AS Numeric(18, 0)), N'GITA', CAST(N'2018-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[T_BELI_BARANG] ([KD_BELI], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY_BELI], [UOM], [STATUS], [TANGGAL_BELI], [HARGA_UNIT], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'KD002', N'BR001', N'MR002', N'34234', CAST(2343240 AS Numeric(18, 0)), NULL, N'BARU', CAST(N'2018-09-21T17:00:00.000' AS DateTime), CAST(2343240 AS Numeric(18, 0)), N'Admin', CAST(N'2018-09-11T21:25:02.000' AS DateTime))
INSERT [dbo].[T_ORDER_DT] ([KD_ORDER], [NO_SR], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY], [STATUS], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR001', CAST(1 AS Numeric(18, 0)), N'BR001', N'MR001', N'11234', CAST(10 AS Numeric(18, 0)), N'BARU', N'GITA', CAST(N'2018-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[T_ORDER_DT] ([KD_ORDER], [NO_SR], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY], [STATUS], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR001', CAST(2 AS Numeric(18, 0)), N'BR001', N'MR002', N'11234', CAST(10 AS Numeric(18, 0)), N'BARU', N'GITA', CAST(N'2018-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[T_ORDER_DT] ([KD_ORDER], [NO_SR], [KD_BARANG], [KD_MERK], [SERIAL_NUMBER], [QTY], [STATUS], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR002', CAST(1 AS Numeric(18, 0)), N'BR001', N'MR002', N'', CAST(550 AS Numeric(18, 0)), N'BARU', N'Admin', CAST(N'2018-09-12T03:10:30.000' AS DateTime))
INSERT [dbo].[T_ORDER_HD] ([KD_ORDER], [TEAM_ID], [USER_ID], [DEPARTMENT], [DATE_ORDER], [STATUS_ORDER], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR001', N'1.1', N'03234', N'IT', CAST(N'2019-09-11T00:00:00.000' AS DateTime), N'APPROVED', N'GITA', CAST(N'2018-09-11T00:00:00.000' AS DateTime))
INSERT [dbo].[T_ORDER_HD] ([KD_ORDER], [TEAM_ID], [USER_ID], [DEPARTMENT], [DATE_ORDER], [STATUS_ORDER], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR002', N'admin', N'admin', N'', CAST(N'2018-09-12T03:10:39.000' AS DateTime), N'CONFIRMED', N'Admin', CAST(N'2018-09-12T03:10:39.000' AS DateTime))
INSERT [dbo].[T_ORDER_HD] ([KD_ORDER], [TEAM_ID], [USER_ID], [DEPARTMENT], [DATE_ORDER], [STATUS_ORDER], [USER_TRANSACTION], [DATE_TIME_TRANSACTION]) VALUES (N'OR003', N'1.1', N'02898', N'', CAST(N'2018-09-12T20:44:31.000' AS DateTime), N'CONFIRMED', N'02898', CAST(N'2018-09-12T20:44:31.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [NO_DETAIL], [TIPE_DATA], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', CAST(1 AS Numeric(3, 0)), N'string', N'Strategi Makan Bakso', N'Admin', CAST(N'2018-06-25T15:53:44.000' AS DateTime), N'Admin', CAST(N'2018-06-25T15:53:44.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [NO_DETAIL], [TIPE_DATA], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', CAST(2 AS Numeric(3, 0)), N'string', N'Strategi Makan Mie Ayam', N'Admin', CAST(N'2018-06-25T15:53:59.000' AS DateTime), N'Admin', CAST(N'2018-06-25T15:53:59.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [NO_DETAIL], [TIPE_DATA], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', CAST(3 AS Numeric(3, 0)), N'number', N'Strategi Membuat Pempek', N'Admin', CAST(N'2018-06-25T15:54:16.000' AS DateTime), N'Admin', CAST(N'2018-06-25T15:54:16.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QN] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [KODE_INDIKATOR], [THRESHOLD], [INDIKATOR_1_DESC], [INDIKATOR_2_DESC], [INDIKATOR_3_DESC], [REALISASI_1_DESC], [REALISASI_2_DESC], [REALISASI_3_DESC], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED], [REMARK]) VALUES (N'IKU 2.2', CAST(2018 AS Numeric(4, 0)), N'TW1', N'FETIKU 2.22018TW1', CAST(100 AS Numeric(3, 0)), N'aki 1', N'', N'', N'aki 2', N'', N'', N'admin', CAST(N'2018-06-13T06:18:38.000' AS DateTime), N'admin', CAST(N'2018-06-13T06:18:38.000' AS DateTime), NULL)
INSERT [dbo].[TRN_INDICATOR_QN] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [KODE_INDIKATOR], [THRESHOLD], [INDIKATOR_1_DESC], [INDIKATOR_2_DESC], [INDIKATOR_3_DESC], [REALISASI_1_DESC], [REALISASI_2_DESC], [REALISASI_3_DESC], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED], [REMARK]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW2', N'FETIKU 2.1.a2018TW2', CAST(50 AS Numeric(3, 0)), N'qwer 1', N'', N'', N'qwer 2 ', N'', N'', N'admin', CAST(N'2018-06-13T06:27:09.000' AS DateTime), N'admin', CAST(N'2018-06-13T06:27:09.000' AS DateTime), NULL)
INSERT [dbo].[TRN_INDICATOR_QN_DTL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [KODE_BANK], [NILAI_INDICATOR_1], [NILAI_INDICATOR_2], [NILAI_INDICATOR_3], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 5.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(5907329.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QN_DTL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [KODE_BANK], [NILAI_INDICATOR_1], [NILAI_INDICATOR_2], [NILAI_INDICATOR_3], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 5.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'009', CAST(1989911.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime))
INSERT [dbo].[TRN_INDICATOR_QN_DTL] ([KODE_IKU], [TAHUN_INDICATOR], [PERIODE], [KODE_BANK], [NILAI_INDICATOR_1], [NILAI_INDICATOR_2], [NILAI_INDICATOR_3], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 5.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'095', CAST(0.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime), N'Admin', CAST(N'2018-07-01T18:26:44.000' AS DateTime))
GO
INSERT [dbo].[TRN_MONA] ([ID_BANK], [YEAR], [TIPE_DOKUMEN], [KETERANGAN], [START_DATE], [TARGET_DATE], [REALIZATION_DATE], [USER_CREATED], [DATE_CREATED], [USER_UPDATED], [DATE_UPDATED]) VALUES (N'095', CAST(2017 AS Numeric(4, 0)), N'RBB', N'Memberi proposal test 1', CAST(N'2017-06-30T17:00:00.000' AS DateTime), CAST(N'2017-07-25T17:00:00.000' AS DateTime), NULL, N'admin', CAST(N'2018-07-28T19:30:36.000' AS DateTime), N'admin', CAST(N'2018-07-28T19:30:36.000' AS DateTime))
INSERT [dbo].[TRN_MONA] ([ID_BANK], [YEAR], [TIPE_DOKUMEN], [KETERANGAN], [START_DATE], [TARGET_DATE], [REALIZATION_DATE], [USER_CREATED], [DATE_CREATED], [USER_UPDATED], [DATE_UPDATED]) VALUES (N'002', CAST(2018 AS Numeric(4, 0)), N'Lain-lain', N'qwe', CAST(N'2018-05-31T17:00:00.000' AS DateTime), CAST(N'2018-06-01T17:00:00.000' AS DateTime), NULL, N'admin', CAST(N'2018-06-30T03:13:06.000' AS DateTime), N'admin', CAST(N'2018-06-30T03:13:06.000' AS DateTime))
INSERT [dbo].[TRN_MONA] ([ID_BANK], [YEAR], [TIPE_DOKUMEN], [KETERANGAN], [START_DATE], [TARGET_DATE], [REALIZATION_DATE], [USER_CREATED], [DATE_CREATED], [USER_UPDATED], [DATE_UPDATED]) VALUES (N'076', CAST(2018 AS Numeric(4, 0)), N'Lain-lain', N'TEST 111111', CAST(N'2018-07-19T17:00:00.000' AS DateTime), CAST(N'2018-07-23T17:00:00.000' AS DateTime), NULL, N'admin', CAST(N'2018-07-28T19:22:52.000' AS DateTime), N'admin', CAST(N'2018-07-28T19:22:52.000' AS DateTime))
INSERT [dbo].[TRN_MONA_REALIZATION] ([TIPE_DOKUMEN], [YEAR], [ID_BANK], [KETERANGAN], [REALIZATION_DATE], [USER_REALIZATION], [USER_UPDATED], [DATE_UPDATED], [UPDATEBY_USER]) VALUES (N'RBB', 2018, N'002', N'Belum di isi', CAST(N'2017-07-30T17:00:00.000' AS DateTime), N'admin', N'admin', CAST(N'2018-07-29T22:34:23.000' AS DateTime), N'tes 2')
INSERT [dbo].[TRN_MONA_REALIZATION] ([TIPE_DOKUMEN], [YEAR], [ID_BANK], [KETERANGAN], [REALIZATION_DATE], [USER_REALIZATION], [USER_UPDATED], [DATE_UPDATED], [UPDATEBY_USER]) VALUES (N'Lain-lain', 2018, N'002', N'', CAST(N'2018-06-02T17:00:00.000' AS DateTime), N'admin', N'admin', CAST(N'2018-07-29T22:12:36.000' AS DateTime), NULL)
INSERT [dbo].[TRN_MONA_REALIZATION] ([TIPE_DOKUMEN], [YEAR], [ID_BANK], [KETERANGAN], [REALIZATION_DATE], [USER_REALIZATION], [USER_UPDATED], [DATE_UPDATED], [UPDATEBY_USER]) VALUES (N'Lain-lain', 2018, N'213', N'Surat persetujuan telah diberikan kepada Bank', CAST(N'2018-07-06T17:00:00.000' AS DateTime), N'admin', N'admin', CAST(N'2018-07-29T22:04:44.000' AS DateTime), NULL)
INSERT [dbo].[TRN_REALIZATION_QL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [STATUS], [KETERANGAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.2', CAST(2018 AS Numeric(4, 0)), N'TW1', N'008', CAST(1 AS Numeric(3, 0)), N'blmselesai', N'Belum Di Isi', N'admin', CAST(N'2018-07-02T14:32:41.000' AS DateTime), N'admin', CAST(N'2018-07-02T14:32:41.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [STATUS], [KETERANGAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 3.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(1 AS Numeric(3, 0)), N'blmselesai', N'231', N'Admin', CAST(N'2018-07-25T22:40:53.000' AS DateTime), N'Admin', CAST(N'2018-07-25T22:40:53.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [STATUS], [KETERANGAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 3.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(1 AS Numeric(3, 0)), N'blmselesai', N'231', N'Admin', CAST(N'2018-07-25T22:40:53.000' AS DateTime), N'Admin', CAST(N'2018-07-25T22:40:53.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QL_DTL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [NO_DETAIL], [TIPE_DATA], [JUDUL], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 3.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(3 AS Numeric(3, 0)), CAST(1 AS Numeric(3, 0)), N'string', N'Temuan Pemeriksaan', N'Belum di isi', N'admin', CAST(N'2018-07-11T10:25:46.000' AS DateTime), N'admin', CAST(N'2018-07-11T10:25:46.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QL_DTL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [NO_DETAIL], [TIPE_DATA], [JUDUL], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 3.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(1 AS Numeric(3, 0)), CAST(2 AS Numeric(3, 0)), N'string', N'TANGGAPAN BANK	', N'BRI akan melakukan review Kebijakan Strategi Anti Fraud.	', N'admin', CAST(N'2018-06-27T15:59:14.000' AS DateTime), N'admin', CAST(N'2018-06-27T15:59:14.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QL_DTL] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_BANK], [NO_URUT], [NO_DETAIL], [TIPE_DATA], [JUDUL], [DESKRIPSI], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 3.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'002', CAST(1 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), N'date', N'TARGET WAKTU', N'Mar-18', N'admin', CAST(N'2018-06-27T15:59:14.000' AS DateTime), N'admin', CAST(N'2018-06-27T15:59:14.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QN] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_INDIKATOR], [PENCAPAIAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'RBBIKU 2.1.a2018TW1', N'1', N'Admin', CAST(N'2018-07-02T13:41:04.000' AS DateTime), N'Admin', CAST(N'2018-07-02T13:41:04.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QN] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_INDIKATOR], [PENCAPAIAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 2.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'RBBIKU 2.1.a2018TW1', N'1', N'Admin', CAST(N'2018-07-02T13:41:04.000' AS DateTime), N'Admin', CAST(N'2018-07-02T13:41:04.000' AS DateTime))
INSERT [dbo].[TRN_REALIZATION_QN] ([KODE_IKU], [TAHUN_REALISASI], [PERIODE], [KODE_INDIKATOR], [PENCAPAIAN], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATED], [DATETIME_UPDATED]) VALUES (N'IKU 5.1.a', CAST(2018 AS Numeric(4, 0)), N'TW1', N'RBBIKU 5.1.a2018TW1', NULL, N'Admin', CAST(N'2018-07-02T10:48:53.000' AS DateTime), N'Admin', CAST(N'2018-07-02T10:48:53.000' AS DateTime))
GO
ALTER TABLE [dbo].[TRN_REALIZATION_QN_DTL] ADD  CONSTRAINT [DF_TRN_REALIZATION_QN_DTL_PENCAPAIAN]  DEFAULT ((0)) FOR [PENCAPAIAN]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "f"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "G"
            Begin Extent = 
               Top = 6
               Left = 264
               Bottom = 136
               Right = 466
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IKUREPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IKUREPORT'
GO
USE [master]
GO
